<form class="form" (ngSubmit)="add()" *ngIf="dataLoaded" ngNativeValidate>
    <div class="form-group">
      <label>Category</label>
      <select required name="category" class="form-control"  [compareWith]="byId" [(ngModel)]="item.category">
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>  
      </select> 
    </div>
   
    <div class="form-group">
      <label>Naslov</label>
      <input required type="text" name="name" class="form-control" [(ngModel)]="item.naslov"/>
    </div>
    <div class="form-group">
      <label>Opis</label>
      <input required type="text" name="price" class="form-control" [(ngModel)]="item.opis"/>
    </div>
    <div class="form-group">
        <label>Sadrzaj</label>
        <input required type="text" name="name" class="form-control" [(ngModel)]="item.sadrzaj"/>
      </div>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="save"/>
      <button class="btn btn-warning" [routerLink]="['/menu']">Back to the list</button>      
    </div>
  </form>
  