<div class="detailBox">

    <h3> {{vest.naslov}}</h3>
    <p>{{vest.sadrzaj}}</p>

    <div class="titleBox">
        <label>Komentari</label>
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="commentBox">

        <p class="taskDescription">Sva pitanja i komentare mozete ostaviti ovdi</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <div *ngIf="vest.comments != null">
                <ul>
                    <li *ngFor="let comment of vest.comments">
                        <div class="talk-bubble tri-right round border right-top">
                            <div class="talktext">
                                <p> Author : {{comment.name}} </p>
                                <p>Comment</p>
                                <p> {{comment.text}}</p>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </ul>
        <form class="form-inline" role="form" (ngSubmit)="addComment()">
            <div class="form-group">
                <input type="text" name="name" class="form-control" [(ngModel)]="newComment.name" />
                <input type="text" name="text" class="form-control" [(ngModel)]="newComment.text" />
                <button class="btn btn-default">Add</button>

            </div>

        </form>
    </div>
</div>